<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: New_Template7 (2017-01-23 18:21)</string>
	<string>M7.1-4328-1</string>
	<string>T3.1.1 (4540)</string>
	<string>M7.1-4328-1</string>
</array>
</plist>
